@{
    ViewData["Title"] = "Our contact information";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    5426 Bay Center Drive #700<br />
    Tampa, FL 33609<br />
    <abbr title="Phone">P:</abbr>
    (813) 281-3900
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
